matplotlib
opencv-python
opencv-contrib-python
imutils
certifi
packaging==23.2
Pillow==10.1.0
pipenv==2023.2.18
pyperclip==1.8.2
pytesseract==0.3.10
fastapi
pandas
gradio
pygame
gpiozero
gTTS
lgpio
pigpio
gradio_client
translate
